@font-face {
  font-family: "fontGame";
  src: url("http://fonts.cdnfonts.com/css/all-pony");
}

.bookingMovie {
  font-family: "fontGame";
  background-image: url(../../public/img/bgmovie.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.bookingMovie::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.wrap__bookingMovie {
  position: relative;
  z-index: 2;
}

.booking__title {
  font-size: 50px;
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
}

.gheChuaChon,
.gheChuaChonPickedList {
  border: 3px solid orange;
  width: 50px;
  height: 45px;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gheChuaChonPickedList {
  width: 40px;
  height: 35px;
  cursor: default;
}

.rowNumber {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  font-size: 30px;
  color: yellow;
}

.firstChar {
  width: 20px;
  color: yellow;
  font-size: 30px;
  margin-right: 15px;
  position: absolute;
  left: -22px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 100%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
  margin: 15px 0 30px;
}

.screen__content {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.pickedList__title {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.gheDuocChon,
.gheDuocChonPickedList {
  border: 3px solid orange;
  background: orange;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gheDuocChonPickedList {
  cursor: default !important;
  width: 40px;
  height: 35px;
}

.gheDangChon,
.gheDangChonPickedList {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gheDangChonPickedList {
  cursor: default;
  width: 40px;
  height: 35px;
}

#confirmTicket {
  display: none;
}
